<ion-header>
  <ion-toolbar>
    <ion-title>Quotations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
  Quotation No. (textbox)
  Quotation Date (datepicker)
  Expire Date (datepicker)
  Customer (dropdown)
  Need Approval (Yes/No)

  Form Array
-->
<ion-item>
  <ion-label position="floating">Quotation No.</ion-label>
  <ion-input></ion-input>
</ion-item>
  <ion-item>
      <ion-label position="floating">Quotation Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
    </ion-item>

  <ion-item>
      <ion-label position="floating">Expire Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [min]='currentDate' max="2020-12-31"></ion-datetime>
    </ion-item>
</ion-content>
